body{
    text-align: center;
    font-size: 2em;background:#225378;

}

ul{
    text-decoration: none;
    list-style-type: none;
}

/* unvisited link */
a:link {
    color: #F3FFE2;
}

/* visited link */
a:visited {
    color: #EB7F00;
}

/* mouse over link */
a:hover {
    color: #EB7F00;
}

/* selected link */
a:active {
    color: #F3FFE2;
}
