body {
 /* font-family: 'Roboto', sans-serif;
    font-family: 'Pacifico', cursive; */
    font-family: 'Dosis', sans-serif;
    background-color:#71A27B;
    text-align: center;
    font-size: 2em;
    color:black;
    padding-left: 20px;
    padding-right: 20px;
}
header{
    background-image: url("../media/img/banner.jpg");
    background-repeat:no-repeat;
    background-position: center top;
    min-height: 185px;
    max-height: 185px;

}

main{
    text-align: justify
}
img{
    max-width:50%;
}

p {
    text-align: justify;
}
ul,ol {
    text-align:left;
}

a {
    text-decoration: none;
    color:black;
    font-size: 1em;
}
a:hover{
    color:white;
