body {
 /* font-family: 'Roboto', sans-serif;*/
    font-family: 'Dosis', sans-serif;
    background:#B64926;
     text-align: justify;
    color:white;
}

p {
    text-align: justify;
}
ul,ol {
    text-align:left;
}

a {
    text-decoration: none;
    color:black;
}
a:hover{
    color:#FFF0A5;

}

