 *{padding:0; margin:0;}
        canvas{ background: grey; display:block; margin: 0 auto;}
body{
    text-align: center;
    background: #FFD683
}

#clickMe, #break {
    background-color: #83B4FF;
    border: none;
    color: white;
    padding: 15px 32px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;


}

#clickMe:hover{
    background: grey;
}
/*#canvas{
    display:none;
}
*/
